h1{color:rgb(0, 255, 234) ;}
p,h2{text-align: center;}
a{color: #5eff00;}
p{color: #deff23;}
h2{color: rgb(255, 136, 0);}

.header{
    display: flex;
    justify-content: space-between;

    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  
}

.footer{
    display: flex;
    justify-content: flex-end;

  
}

body{
    background-color: #000000;
    background-image: url("images/bg2.jpg");
    

}